
.top-div{
            position: absolute;
            top: 100px;
            left: 150px;
            font-size: 2rem;
        }

.header{
            color: hsl(300, 43%, 22%) ;
            font-family: 'League Spartan', sans-serif;
            font-weight: 900;
            width: 500px;
            display: inline-block;
        }

.paragraph{
                color: hsl(303, 10%, 53%) ;
                width: 500px;
                font-size: medium;
                font-family: 'League Spartan', sans-serif;
            }

.rate1{
                font-family: 'League Spartan', sans-serif;
                color: hsl(300, 43%, 22%);
                font-size: medium;
                position: absolute;
                top: 50px;
                left: 700px;
                background-color: hsl(300, 24%, 96%);
                border-radius: 10px;
                width: 400px;
                text-align: center;
                

            }

.rate2{
                font-family: 'League Spartan', sans-serif;
                color: hsl(300, 43%, 22%);
                font-size: medium;
                position: absolute;
                top: 150px;
                left: 750px;
                background-color: hsl(300, 24%, 96%);
                border-radius: 10px;
                width: 400px;
                text-align: center;
                
                
}

.rate3{
                font-family: 'League Spartan', sans-serif;
                color: hsl(300, 43%, 22%);
                font-size: medium;
                position: absolute;
                top: 250px;
                left: 800px;
                background-color: hsl(300, 24%, 96%);
                border-radius: 10px;
                width: 400px;
                text-align: center;
               
            }


.bottom-div{
                position: relative;
                top: 100px;
                
}


.img-1{
    float: left;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

.name-font{
    font-family: 'League Spartan', sans-serif ;
    color: hsl(300, 24%, 96%);
    margin-top: 40px;
    margin-bottom: 5px;
}
.vb-font{
    margin-top: 20px;
    color: hsl(333, 80%, 67%);
    font-family: 'League Spartan', sans-serif ;
    
}

.card-artical{
    font-family: 'League Spartan', 'sans-serif';
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    color: hsl(300, 24%, 96%);
    font-family: 'League Spartan', sans-serif;
    line-height:25px;
    font-weight: 300;
}

.bottom-article1{
    position: absolute;
    left: 150px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    width: 350px;
    height: 250px;
}

.bottom-article2{
                position: absolute;
                left: 580px;
                top: 25px;
                background-color: hsl(300, 43%, 22%);
                border-radius: 10px;
                width: 350px;
                height: 250px;


}


.bottom-article3{
                position: absolute;
                left: 1000px;
                top: 50px;
                background-color: hsl(300, 43%, 22%);
                border-radius: 10px;
                width: 350px;
                height: 250px;

}

